.container-about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.container-about a {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2em;
}

.container-about p{
    display: flex;
    text-align: start;
    justify-content: center;
    width: 1000px;
}